body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}    

body {
    color; forestgreen;
}

label{
    display: block;
    padding: 5px;
}

button {
    color: whitesmoke;
    background: forestgreen;
    padding: 5 px


}